<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
	<body>
		<h2>From Views/Shared/_Layout.cshtml</h2>
		<div>
			@RenderBody()
		</div>
	</body>
</html>
